@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

body {
  font-family: DM, monospace;
  color: #1400ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: DM;
  src: url("../Assets/DMMono-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: DM;
  src: url("../Assets/DMMono-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: DM;
  src: url("../Assets/DMMono-Regular.ttf");
}
